@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1980' height='1080' preserveAspectRatio='none' viewBox='0 0 1980 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask5215%26quot%3b)' fill='none'%3e%3crect width='1980' height='1080' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient5216%26quot%3b)'%3e%3c/rect%3e%3cpath d='M1280.0873408756493 252.92134975776452L1284.8288419680123 388.700175979892 1486.126330755022 313.69851123028377z' fill='rgba(15%2c 97%2c 4%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M756.6979313178923 899.8757354316288L965.0174336614543 725.0749178481112 790.2166160779368 516.7554155045493 581.8971137343749 691.5562330880667z' fill='rgba(15%2c 97%2c 4%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1205.894%2c615.263C1285.533%2c613.296%2c1366.764%2c583.193%2c1403.889%2c512.71C1439.154%2c445.759%2c1410.391%2c367.642%2c1370.039%2c303.628C1332.914%2c244.733%2c1275.511%2c198.062%2c1205.894%2c198.61C1137.096%2c199.151%2c1084.263%2c248.89%2c1046.163%2c306.177C1001.874%2c372.771%2c953.483%2c451.877%2c990.201%2c522.927C1028.685%2c597.395%2c1122.096%2c617.333%2c1205.894%2c615.263' fill='rgba(15%2c 97%2c 4%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1511.2830822938429 592.7326518292509L1414.5301352975316 832.2045989691048 1750.7550294336968 689.4855988255623z' fill='rgba(15%2c 97%2c 4%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1192.078%2c854.733C1290.739%2c852.673%2c1395.311%2c836.293%2c1449.092%2c753.554C1507.178%2c664.193%2c1506.01%2c546.978%2c1451.752%2c455.243C1398.418%2c365.071%2c1296.842%2c318.941%2c1192.078%2c319.018C1087.461%2c319.095%2c988.191%2c366.711%2c933.067%2c455.627C874.796%2c549.619%2c855.577%2c671.921%2c915.78%2c764.687C972.299%2c851.777%2c1088.279%2c856.9%2c1192.078%2c854.733' fill='rgba(15%2c 97%2c 4%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M378.855%2c1086.009C459.238%2c1090.645%2c543.741%2c1063.236%2c584.497%2c993.796C625.653%2c923.674%2c611.274%2c834.568%2c566.116%2c766.954C525.627%2c706.331%2c451.682%2c682.605%2c378.855%2c685.894C312.096%2c688.909%2c252.627%2c725.028%2c218.766%2c782.641C184.413%2c841.091%2c178.921%2c912.271%2c210.563%2c972.232C244.435%2c1036.419%2c306.399%2c1081.831%2c378.855%2c1086.009' fill='rgba(15%2c 97%2c 4%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M796.8501562601368 983.4174478444497L893.7235675614561 1121.7670171007376 1052.8112157952282 907.2821155206148z' fill='rgba(15%2c 97%2c 4%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M388.0259210529572 317.3762252439889L595.4619252789162 342.8461639383264 413.4958597472947 109.94022101803z' fill='rgba(15%2c 97%2c 4%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask5215'%3e%3crect width='1980' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='50%25' y1='100%25' x2='50%25' y2='0%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient5216'%3e%3cstop stop-color='rgba(0%2c 77%2c 25%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
  /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1980' height='1080' preserveAspectRatio='none' viewBox='0 0 1980 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask3605%26quot%3b)' fill='none'%3e%3crect width='1980' height='1080' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient3606%26quot%3b)'%3e%3c/rect%3e%3cpath d='M165.0778568679477 313.8621504958337L347.6587831668047 176.27755401181025 210.07418668278123-6.303372287046727 27.49326038392425 131.28122419697672z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1333.5027075989278 879.0521248848374L1378.3128510381923 560.2113870014014 1014.6619697154918 834.241981445573z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M880.562%2c472.363C950.14%2c471.998%2c1004.518%2c416.276%2c1035.025%2c353.742C1061.839%2c298.778%2c1051.078%2c236.715%2c1021.684%2c183.086C990.836%2c126.805%2c944.518%2c77.292%2c880.562%2c71.93C806.982%2c65.761%2c727.321%2c90.841%2c691.492%2c155.404C656.39%2c218.657%2c686.206%2c293.253%2c723.265%2c355.379C759.143%2c415.526%2c810.528%2c472.731%2c880.562%2c472.363' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M293.5089177600174 631.0307434366923L314.0147232808586 337.7840623580992 0.26223668142432643 610.5249379158511z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1441.6389007260434 995.7350630184164L1619.829468426836 1161.9004556068398 1785.9948610152594 983.709887906047 1607.8042933144666 817.5444953176238z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M887.2494266730132 611.6643541727987L673.4926864728188 622.6626061264839 772.6427970129816 781.3359515821434z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1724.171%2c1163.091C1826.275%2c1161.004%2c1924.455%2c1114.233%2c1974.602%2c1025.268C2023.933%2c937.75%2c2008.884%2c832.291%2c1960.152%2c744.438C1909.685%2c653.457%2c1828.132%2c569.72%2c1724.171%2c573.796C1624.625%2c577.699%2c1568.298%2c675.656%2c1518.204%2c761.767C1467.683%2c848.613%2c1409.485%2c946.492%2c1455.36%2c1035.879C1503.872%2c1130.405%2c1617.945%2c1165.262%2c1724.171%2c1163.091' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1658.0917793909812 698.0529181792127L1677.9239413477271 556.9397534627622 1456.3381132946784 597.7480928858685z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask3605'%3e%3crect width='1980' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='50%25' y1='100%25' x2='50%25' y2='0%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient3606'%3e%3cstop stop-color='rgba(0%2c 18%2c 59%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e"); */
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 0.375rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
